"target/" 
"bin/" 
".classpath" 
".project" 
".settings/" 
"logs/" 
"oauth2/target/" 
"oauth2/bin/" 
"oauth2/.classpath" 
"oauth2/.project" 
"oauth2/.settings/" 
"oauth2/logs/" 
"target/" 
"bin/" 
".classpath" 
".project" 
".settings/" 
"logs/" 
"oauth2/target/" 
"oauth2/bin/" 
"oauth2/.classpath" 
"oauth2/.project" 
"oauth2/.settings/" 
"oauth2/logs/" 
"ui.api/target/" 
"ui.api/bin/" 
"ui.api/.classpath" 
"ui.api/.project" 
"ui.api/.settings/" 
"ui.api/logs/" 
"ui.core/target/" 
"ui.core/bin/" 
"ui.core/.classpath" 
"ui.core/.project" 
"ui.core/.settings/" 
"ui.core/logs/" 
"idmManager2/target/" 
"idmManager2/bin/" 
"idmManager2/.classpath" 
"idmManager2/.project" 
"idmManager2/.settings/" 
"idmManager2/logs/" 
"idmManager3/target/" 
"idmManager3/bin/" 
"idmManager3/.classpath" 
"idmManager3/.project" 
"idmManager3/.settings/" 
"idmManager3/logs/" 
"idmManager/bin/" 
"idmManager/.classpath" 
"idmManager/.project" 
"idmManager/.settings/" 
"idmManager/logs/" 
"idmManager2/target/" 
"idmManager2/bin/" 
"idmManager2/.classpath" 
"idmManager2/.project" 
"idmManager2/.settings/" 
"idmManager2/logs/" 
"idmManager3/target/" 
"idmManager3/bin/" 
"idmManager3/.classpath" 
"idmManager3/.project" 
"idmManager3/.settings/" 
"idmManager3/logs/" 
"idmManager4/target/" 
"idmManager4/bin/" 
"idmManager4/.classpath" 
"idmManager4/.project" 
"idmManager4/.settings/" 
"idmManager4/logs/" 
"idmManager5/target/" 
"idmManager5/bin/" 
"idmManager5/.classpath" 
"idmManager5/.project" 
"idmManager5/.settings/" 
"idmManager5/logs/" 
